
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
   background-color: #6d6875;
  background-image:
    linear-gradient(
      135deg,
      rgba(109,104,117, .2) 0%,
      rgba(255,180,162, .1) 25%,
      rgba(109,104,117, .2) 50%,
      rgba(255,180,162, .1) 75%,
      rgba(109,104,117, .2) 100%
    ),
    linear-gradient(
      90deg,
      #6d6875,
      #b5838d,
      #e5989b,
      #ffb4a2,
      #ffcdb2
    );
}

/*----------------------------BARRE NAV-----------------------------*/
  
  #desk-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50px;
    background: #181818;
	  color: #FFF;
    position: fixed;
    z-index: 99;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #desk-nav ul {
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  #desk-nav ul li {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
   
  #desk-nav a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    color: #FFF;
    text-decoration: none;
    letter-spacing: 1.2px;
    padding: 5px 17px;
    
    margin: 5px 13px;
    font-family: 'PT Sans Narrow', sans-serif;
	  font-size: 16px;
  }
  
/*  Nav Item Hover Effects  */
  
#desk-nav a:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: 1px solid #FFF;
}

#desk-nav a:before {
	left: 0;
}

#desk-nav a:hover {
	color: #81BEF7;
  opacity: 1;
}

#desk-nav a:hover:before {
	width: 100%;
}

#desk-nav a:before {
	-webkit-transition: width .2s cubic-bezier(0.14, 0.59, 1, 1.01);
	transition: width .2s cubic-bezier(0.14, 0.59, 1, 1.01);
}
  
/*-------------------------END BARRE NAV---------------------------*/

p, li, a{
  font-size: 18px;
  font-family: 'PT Sans Narrow', sans-serif;
}

fieldset{
  margin: 0;
  padding: 0;
  border: none;
}

.container{
  width: 100%;
  max-width: 700px;
  max-height: 100px;
  margin: 0 auto;
  position: relative;
}

.wrap{
  width: 80%;
  margin: 10% 10%;
  height: 80px;
}


/* FORM */

.form-wrapper .section{
  padding: 0px 20px 0px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  text-align: center;
  position: absolute;
  width: 70%;
  min-height: 200px 
}

.form-wrapper .section h3{
  margin-bottom: 10px;
}

.form-wrapper .section.is-active{
  opacity: 1;
}

.form-wrapper .button, .form-wrapper .submit{
  background: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.2)), 
  -webkit-linear-gradient(108deg, #e5e9bf 10%, #00396f 90%);
  display: inline-block;
  padding: 8px 30px;
  color: #fff;
  font-family: 
  cursor: pointer;
  font-size: 14px !important;
  font-family: 'PT Sans Narrow', sans-serif;
  position: absolute;
  right:30%;
  width: 40%;
  bottom: 30px;
  border: none;
}

.form-wrapper .submit{
  border: none;
  margin-top: -50px;
  outline: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-wrapper input[type="text"] {
  display: block;
  padding: 10px;
  margin: 10px auto;
  background-color: #f1f1f1;
  border: none;
  width: 70%;
  height: 10%;
  outline: none;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
}







.contain {
  width: 600px;
  margin: 2em auto;
  overflow: hidden;
  background: white;
  border-radius: 5px;
  font-size: 12px;
}

.message, .contact, .name, .footer, header, footer, textarea {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  clear: both;
  overflow: hidden;
}

header, footer {
  height: 75px;
  background: rgba(0, 0, 0, 0.05);
  line-height: 75px;
  padding-left: 20px;
  border-radius: 5px 5px 0 0;
}
header h1, footer h1 {
	text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  color: black;
}

header h2 {
		text-align: center;
  font-size: 1em;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.4);
}

.first, .last, .ques {
  float: left;
  width: 278px;
  margin: 0;
  padding: 0 0 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 50px;
}

.ques {
	width: 378px;
}

.last {
  width: 79px;
  border-left: 0;
}

select {
  padding: 0 0 0 20px;
  height: 52px;
  width: 300px;
  border-left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

option { 
  height: 50px;
  width: 282px;
  border-left: 0;
}

.red {
	color: red;
}

.green {
	color: green;
}

.email, textarea {
  height: 50px;
  width: 578px;
  line-height: 50px;
  padding: 0 0 0 20px;
  border-top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

textarea {
  height: 100px;
}

footer {
  height: 49px;
  border-top: 1px dashed rgba(0, 0, 0, 0.3);
  border-radius: 0 0 5px 5px;
  padding-left: 0;
  padding-right: 34%;
}
footer button {
  height: 32px;
  background: #e74c3c;
  border-radius: 5px;
  border: 0;
  margin: 7px ;
  color: white;
  float: right;
  padding: 0 20px 0 20px;
  border-bottom: 3px solid #c0392b;
  transition: all linear .2s;
}
footer button:hover {
  background: #c0392b;
}
footer button:focus {
  outline: none;
}

footer input {
    background: #e74c3c;
    border: none;
    color: white;
    font-size: 13px;
    float: right;
  padding: 0 20px 0 20px;
}

footer input:hover {
  background: #c0392b;
}
footer input:focus {
  outline: none;
}

.first:focus, .last:focus, .email:focus, textarea:focus, textarea:focus, select:focus {
  outline: none;
  background: rgba(52, 152, 219, 0.1);
  color: rgba(51, 51, 51, 0.7);
}
