
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Narrow', sans-serif;
   background-color: #6d6875;
  background-image:
    linear-gradient(
      135deg,
      rgba(109,104,117, .2) 0%,
      rgba(255,180,162, .1) 25%,
      rgba(109,104,117, .2) 50%,
      rgba(255,180,162, .1) 75%,
      rgba(109,104,117, .2) 100%
    ),
    linear-gradient(
      90deg,
      #6d6875,
      #b5838d,
      #e5989b,
      #ffb4a2,
      #ffcdb2
    );
}

/*----------------------------BARRE NAV-----------------------------*/
  
  #desk-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50px;
    background: #181818;
	  color: #FFF;
    position: fixed;
    z-index: 99;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #desk-nav ul {
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  #desk-nav ul li {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
   
  #desk-nav a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    color: #FFF;
    text-decoration: none;
    letter-spacing: 1.2px;
    padding: 5px 17px;
    margin: 5px 13px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }
  
/*  Nav Item Hover Effects  */
  
#desk-nav a:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: 1px solid #FFF;
}

#desk-nav a:before {
	left: 0;
}

#desk-nav a:hover {
	color: #81BEF7;
  opacity: 1;
}

#desk-nav a:hover:before {
	width: 100%;
}

#desk-nav a:before {
	-webkit-transition: width .2s cubic-bezier(0.14, 0.59, 1, 1.01);
	transition: width .2s cubic-bezier(0.14, 0.59, 1, 1.01);
}
  
/*-------------------------END BARRE NAV---------------------------*/

a{
  text-decoration: none;
}

p, li, a{
  font-size: 18px;
  font-family: 'PT Sans Narrow', sans-serif;
}

fieldset{
  margin: 0;
  padding: 0;
  border: none;
}

.container{
  width: 100%;
  max-width: 700px;
  max-height: 100px;
  margin: 0 auto;
  position: relative;
}

.wrap{
  width: 80%;
  margin: 10% 10%;
  height: 80px;
}

/* STEPS */

.steps{
  list-style-type: none;
  width: 91.5%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  text-align: center;
}


.steps li{
  display: inline-block;
  margin: 20px;
  color: #ccc;
  padding-bottom: 5px;
}

.steps li.is-active{
  border-bottom: 1px solid #3498db;
  color: #3498db;
}

/* FORM */

.form-wrapper .section{
  padding: 0px 20px 0px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  text-align: center;
  position: absolute;
  width: 70%;
  min-height: 200px 
}

.form-wrapper .section h3{
  margin-bottom: 10px;
}

.form-wrapper .section.is-active{
  opacity: 1;
}

.form-wrapper .button, .form-wrapper .submit{
  background: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.2)), 
  -webkit-linear-gradient(108deg, #e5e9bf 10%, #00396f 90%);
  display: inline-block;
  padding: 8px 30px;
  color: #fff;
  font-family: 
  cursor: pointer;
  font-size: 14px !important;
  font-family: 'PT Sans Narrow', sans-serif;
  position: absolute;
  right:30%;
  width: 40%;
  bottom: 30px;
  border: none;
}

.form-wrapper .submit{
  border: none;
  margin-top: -50px;
  outline: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-wrapper input[type="text"] {
  display: block;
  padding: 10px;
  margin: 10px auto;
  background-color: #f1f1f1;
  border: none;
  width: 70%;
  height: 10%;
  outline: none;
  font-size: 14px !important;
  font-family: 'Open Sans', sans-serif !important;
}
