body{
	margin:0;
	color:#ecf0f1;
	font:300 18px/18px Trebuchet MS;
}

/*----------------------------BARRE NAV-----------------------------*/
  
  #desk-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 50px;
    background: #181818;
	  color: #FFF;
    position: fixed;
    z-index: 99;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  #desk-nav ul {
    list-style-type: none;
    padding: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  #desk-nav ul li {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
   
  #desk-nav a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    color: #FFF;
    text-decoration: none;
    letter-spacing: 1.2px;
    padding: 5px 17px;
    margin: 5px 13px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
  }
  
/*  Nav Item Hover Effects  */
  
#desk-nav a:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 0;
	border-bottom: 1px solid #FFF;
}

#desk-nav a:before {
	left: 0;
}

#desk-nav a:hover {
	color: #81BEF7;
  opacity: 1;
}

#desk-nav a:hover:before {
	width: 100%;
}

#desk-nav a:before {
	-webkit-transition: width .2s cubic-bezier(0.14, 0.59, 1, 1.01);
	transition: width .2s cubic-bezier(0.14, 0.59, 1, 1.01);
}
  
/*-------------------------END BARRE NAV---------------------------*/

  
/*----------------------------COULEUR DE FOND-----------------------------*/


.fond{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:fixed;
	overflow-y:auto;
	background-size:cover;
	background-attachment:fixed;
	background:
		-webkit-linear-gradient(45deg, hsla(222, 99%, 41%, 1) 0%, hsla(222, 99%, 41%, 0) 70%),
		-webkit-linear-gradient(315deg, hsla(53, 94%, 49%, 1) 10%, hsla(53, 94%, 49%, 0) 80%),
		-webkit-linear-gradient(225deg, hsla(203, 97%, 45%, 1) 10%, hsla(203, 97%, 45%, 0) 80%),
		-webkit-linear-gradient(135deg, hsla(216, 93%, 47%, 1) 100%, hsla(216, 93%, 47%, 0) 70%);
	background:
		linear-gradient(45deg, hsla(222, 99%, 41%, 1) 0%, hsla(222, 99%, 41%, 0) 70%),
		linear-gradient(135deg, hsla(53, 94%, 49%, 1) 10%, hsla(53, 94%, 49%, 0) 80%),
		linear-gradient(225deg, hsla(203, 97%, 45%, 1) 10%, hsla(203, 97%, 45%, 0) 80%),
		linear-gradient(315deg, hsla(216, 93%, 47%, 1) 100%, hsla(216, 93%, 47%, 0) 70%);
}

/*-------------------------END COULEUR DE FOND---------------------------*/

  
/*----------------------------BLOC PROFIL-----------------------------*/

.bloc{
	width:350px;
	margin:8% auto 0;
	position:relative;
	background:#1e1d23;
}
.bloc a{
	color:inherit;
	text-decoration:none;
}
.bloc .top-bar{
	padding:15px;
	background:#25252f;
}

.bloc .top-bar .title{
	margin-left:15px;
}
.bloc .profil{
	padding:15px;
	position:relative;
}

/*--------------- Banniere -----------------*/


.bloc .profil .cover{
	width:100%;
	height:100px;
	overflow:hidden;
	position:relative;
	background:#d9addf;
}
.bloc .profil .cover:before{
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:6;
	content:'';
	position:absolute;
	background:-webkit-linear-gradient(top, rgba(0,0,0,0),  rgba(0,0,0,.4));
	background:linear-gradient(to bottom, rgba(0,0,0,0),  rgba(0,0,0,.4));
}

.bloc .profil .cover .vec{
	height:100px;
	position:absolute;
}

.bloc .profil .cover .vec:before,
.bloc .profil .cover .vec:after{
	width:0;
	height:0;
	content:'';
	display:block;
	position:inherit;
	background:inherit;
}

.bloc .profil .cover .vec_b:after,
.bloc .profil .cover .vec_c:after{
	width:1px;
	right:12px;
	height:100%;
	background:rgba(0,0,0,.4);
	-webkit-transform:skewX(5deg);
	transform:skewX(5deg);
}

.bloc .profil .cover .vec_a{
	z-index:4;
	left:-35px;
	width:125px;
	background:#fb544e;
	-webkit-transform:skewX(25deg);
	transform:skewX(25deg);
	box-shadow:2px 0 6px rgba(0,0,0,.8);
}

.bloc .profil .cover .vec_b{
	z-index:3;
	left:40px;
	width:130px;
	background:#fe5866;
	-webkit-transform:skewX(-10deg);
	transform:skewX(-10deg);
	box-shadow:1px 0 4px rgba(0,0,0,.4);
}

.bloc .profil .cover .vec_c{
	z-index:2;
	left:140px;
	width:95px;
	background:#d9addf;
	-webkit-transform:skewX(-30deg);
	transform:skewX(-30deg);
	box-shadow:2px 0 3px rgba(0,0,0,.6);
}

.bloc .profil .cover .vec_d{
	z-index:1;
	left:235px;
	width:130px;
	background:#422249;
	-webkit-transform:skewX(-30deg);
	transform:skewX(-30deg);
}

.bloc .cover .vec_d:before{
	width:1px;
	left:12px;
	height:100%;
	background:rgba(0,0,0,.4);
	-webkit-transform:skewX(5deg);
	transform:skewX(5deg);
}

.bloc .profil .cover .vec_e{
	z-index:5;
	right:-75px;
	width:210px;
	background:#a43dad;
	-webkit-transform:skewX(45deg);
	transform:skewX(45deg);
	box-shadow:-5px -5px 10px rgba(0,0,0,.4);
}


/*---------------END Banniere------------------*/

  
/*-----------Image Profil et Retour-------------*/

.bloc .profil .photo{
	left:30px;
	z-index:7;
	width:57px;
	bottom:28px;
	height:57px;
	overflow:hidden;
	border-radius:50%;
	position:absolute;
}

.bloc .profil .photo img{
	width:100%;
	display:block;
}

.bloc .profil .retour{
	z-index:10;
	background:#ee3c4b;
}

.bloc .profil .retour img{
	z-index:100;
	position: relative;
    top: 7px;
    left: 4px;
    cursor: pointer;
}

/*----------------End Image Profil et Retour-----------------*/

  
/*----------------------------LISTE-----------------------------*/

.bloc .profil .info{
	left:100px;
	z-index:7;
	bottom:35px;
	position:absolute;
	text-shadow:0 2px 1px rgba(0,0,0,.6);
}

.bloc .profil .info .name{
	font-size:16px;
	font-weight:400;
}

.bloc .profil .links,
.bloc .profil .retour,
.bloc .profil .links a{
	bottom:0;
	z-index:8;
	right:35px;
	width:35px;
	height:35px;
	border-radius:50%;
	position:absolute;
}

.bloc .profil .plus{
	display:none;
}

.bloc .tabs-content{
	padding:15px;
}

.bloc .tabs-content .liste{
	background:#25252f;
}

.bloc .tabs-content .liste .list{
	padding:10px 15px;
}

.bloc .tabs-content .liste .list:not(:last-child){
	border-bottom:1px solid #444;
}

.bloc .tabs-content .liste .list.title{
	font-size:16px;
	padding:15px!important;
}

.bloc .tabs-content .liste .info{
	margin-left:10px;
}

.bloc .tabs-content .liste .info .name{
	font-size:12px;
	font-weight:400;
}

.bloc .tabs-content .liste .info button{
	font-size:12px;
	font-weight:400;
    border: none;
    background-color: #25252f;
    color: #fff;
    font-family: Trebuchet MS;
}

/*-------------------------END LIST---------------------------*/
  
/*-------------------------END BLOC---------------------------*/
